body{
    background-color:rgb(231, 227, 220);
    /*background-image: url(fundo1.jpg);
    background-attachment: fixed, scroll;*/
    text-align: center;
    font-family: 'Garamond';
}
h1 img{
    margin-top: 55px;
}     
li{
    list-style-type: none;
    display: inline;   
}
ul{
    padding: 0;
}
ul li{
    font-size: 25px;
}
li a{
    padding: 20px;
    color: black;
    text-decoration: none;
    font-style: italic;
}
li a:hover{
    /*background-color: #f8be24;*/
    color: #ffa600;
}
figure img{
    margin-top: 50px;
    border-bottom: 3px solid #f8be24;
    border-top: 3px solid #f8be24;
}
figcaption{
    font-size: 18px;
}